.button {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  line-height: 1.2;
  padding: $input-spacing;
  text-transform: uppercase;
  font-size: $base-font-size;
  margin-bottom: $space;
}

.button--link {
  display: inline-block;
  text-decoration: none;
}

.button--pill {
  background-color: transparent;
  border: 1px solid $button-pill-color;
  color: $button-pill-color;
  margin: 0 $space/2 0 0;
  padding: .3rem .8rem;

}

.button--secondary {
  color: $button-secondary-color;
  border: 1px solid $button-secondary-border;
  background: $button-secondary-bg;
}

.button--nav {
  background: none;
  padding: 0;
  text-transform: none;
  text-decoration: underline;
  margin: 0;
  font-size: $base-font-size * .8;
}