.button {
  color: #555555;
  cursor: pointer;
  font-weight: 600;
  margin-left: 1.3rem;
  outline: none;
  padding: 1.3rem;
  border: 1px solid #555555;
  line-height: 1;
  background: transparent;
  transition: background .2s ease, transform .2s ease, border .2s ease;

  &:hover {
    background: #e8e8e8;
  }

  &:focus {
    border: 1px solid #000000;
  }

  &:active {
    background: #cccccc;
    transform: scale(1.1);
  }
}

.button--round {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}